<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 第一种：注册 处理器 -->
    <!--<bean id="helloController" class="com.xbsj.controller.HelloController" >
        <property name="methodNameResolver">
            &lt;!&ndash; 注册 方法名解析器 &ndash;&gt;
            <bean class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
                <property name="mappings">
                    <props>
                        <prop key="/hello/select" >select</prop>
                        <prop key="/hello/add">add</prop>
                        <prop key="/hello/update">update</prop>
                        <prop key="/hello/delete">delete</prop>
                    </props>
                </property>
            </bean>
        </property>
    </bean>

    &lt;!&ndash; 注册 处理器映射器 &ndash;&gt;
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <props>
                <prop key="/hello/*" >helloController</prop>
            </props>
        </property>
    </bean>-->

    <!-- 第二种： 注册 处理器 -->
    <bean id="helloController" class="com.xbsj.controller.HelloController" >
        <property name="methodNameResolver">
            <!-- 方法名解析器-->
            <bean class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
                <property name="paramName" value="actionName" />
            </bean>
        </property>
    </bean>

    <!--  注册 处理器映射器 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <props>
                <prop key="/hello" >helloController</prop>
            </props>
        </property>
    </bean>

    <!-- 注册 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>