<component name="ArtifactManager">
  <artifact type="war" name="springmvcmethodresolver:war">
    <output-path>$PROJECT_DIR$/springmvcmethodresolver/target</output-path>
    <root id="archive" name="springmvcmethodresolver.war">
      <element id="artifact" artifact-name="springmvcmethodresolver:war exploded" />
    </root>
  </artifact>
</component>