<component name="ArtifactManager">
  <artifact type="war" name="springbase:war">
    <output-path>$PROJECT_DIR$/springbase/target</output-path>
    <root id="archive" name="springbase.war">
      <element id="artifact" artifact-name="springbase:war exploded" />
    </root>
  </artifact>
</component>